.vp-doc {
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    &:not(.co-docs-demo *) {
      position: relative;
      font-weight: 600;
      outline: none;
    }
  }

  h1 {
    &:not(.co-docs-demo *) {
      letter-spacing: -0.02em;
      line-height: 40px;
      font-size: 28px;
    }
  }

  h2 {
    &:not(.co-docs-demo *) {
      margin: 48px 0 16px;
      border-top: 1px solid var(--vp-c-divider);
      padding-top: 24px;
      letter-spacing: -0.02em;
      line-height: 32px;
      font-size: 24px;
    }
  }

  h3 {
    &:not(.co-docs-demo *) {
      margin: 32px 0 0;
      letter-spacing: -0.01em;
      line-height: 28px;
      font-size: 20px;
    }
  }

  h4 {
    &:not(.co-docs-demo *) {
      margin: 24px 0 0;
      letter-spacing: -0.01em;
      line-height: 24px;
      font-size: 18px;
    }
  }

  .header-anchor {
    &:not(.co-docs-demo *) {
      position: absolute;
      top: 0;
      left: 0;
      margin-left: -0.87em;
      font-weight: 500;
      user-select: none;
      opacity: 0;
      text-decoration: none;
      transition:
        color 0.25s,
        opacity 0.25s;
    }
  }

  .header-anchor:before {
    &:not(.co-docs-demo *) {
      content: var(--vp-header-anchor-symbol);
    }
  }

  h1:hover .header-anchor,
  h1 .header-anchor:focus,
  h2:hover .header-anchor,
  h2 .header-anchor:focus,
  h3:hover .header-anchor,
  h3 .header-anchor:focus,
  h4:hover .header-anchor,
  h4 .header-anchor:focus,
  h5:hover .header-anchor,
  h5 .header-anchor:focus,
  h6:hover .header-anchor,
  h6 .header-anchor:focus {
    &:not(.co-docs-demo *) {
      opacity: 1;
    }
  }

  @media (min-width: 768px) {
    h1 {
      &:not(.co-docs-demo *) {
        letter-spacing: -0.02em;
        line-height: 40px;
        font-size: 32px;
      }
    }
  }

  h2 .header-anchor {
    &:not(.co-docs-demo *) {
      top: 24px;
    }
  }

  /**
   * Paragraph and inline elements
   * -------------------------------------------------------------------------- */

  p,
  summary {
    &:not(.co-docs-demo *) {
      margin: 16px 0;
    }
  }

  p {
    &:not(.co-docs-demo *) {
      line-height: 28px;
    }
  }

  blockquote {
    &:not(.co-docs-demo *) {
      margin: 16px 0;
      border-left: 2px solid var(--vp-c-divider);
      padding-left: 16px;
      transition: border-color 0.5s;
      color: var(--vp-c-text-2);
    }
  }

  blockquote > p {
    &:not(.co-docs-demo *) {
      margin: 0;
      font-size: 16px;
      transition: color 0.5s;
    }
  }

  a {
    &:not(.co-docs-demo *) {
      font-weight: 500;
      color: var(--vp-c-brand-1);
      text-decoration: underline;
      text-underline-offset: 2px;
      transition:
        color 0.25s,
        opacity 0.25s;
    }
  }

  a:hover {
    &:not(.co-docs-demo *) {
      color: var(--vp-c-brand-2);
    }
  }

  strong {
    &:not(.co-docs-demo *) {
      font-weight: 600;
    }
  }

  /**
   * Lists
   * -------------------------------------------------------------------------- */

  ul,
  ol {
    &:not(.co-docs-demo *) {
      padding-left: 1.25rem;
      margin: 16px 0;
    }
  }

  ul {
    &:not(.co-docs-demo *) {
      list-style: disc;
    }
  }

  ol {
    &:not(.co-docs-demo *) {
      list-style: decimal;
    }
  }

  li + li {
    &:not(.co-docs-demo *) {
      margin-top: 8px;
    }
  }

  li > ol,
  li > ul {
    &:not(.co-docs-demo *) {
      margin: 8px 0 0;
    }
  }

  /**
   * Table
   * -------------------------------------------------------------------------- */

  table {
    &:not(.co-docs-demo *) {
      display: block;
      border-collapse: collapse;
      margin: 20px 0;
      overflow-x: auto;
    }
  }

  tr {
    &:not(.co-docs-demo *) {
      background-color: var(--vp-c-bg);
      border-top: 1px solid var(--vp-c-divider);
      transition: background-color 0.5s;
    }
  }

  tr:nth-child(2n) {
    &:not(.co-docs-demo *) {
      background-color: var(--vp-c-bg-soft);
    }
  }

  th,
  td {
    &:not(.co-docs-demo *) {
      border: 1px solid var(--vp-c-divider);
      padding: 8px 16px;
    }
  }

  th {
    &:not(.co-docs-demo *) {
      text-align: left;
      font-size: 14px;
      font-weight: 600;
      color: var(--vp-c-text-2);
      background-color: var(--vp-c-bg-soft);
    }
  }

  td {
    &:not(.co-docs-demo *) {
      font-size: 14px;
    }
  }

  /**
   * Decorational elements
   * -------------------------------------------------------------------------- */

  hr {
    &:not(.co-docs-demo *) {
      margin: 16px 0;
      border: none;
      border-top: 1px solid var(--vp-c-divider);
    }
  }

  /**
   * Custom Block
   * -------------------------------------------------------------------------- */

  .custom-block {
    &:not(.co-docs-demo *) {
      margin: 16px 0;
    }
  }

  .custom-block p {
    &:not(.co-docs-demo *) {
      margin: 8px 0;
      line-height: 24px;
    }
  }

  .custom-block p:first-child {
    &:not(.co-docs-demo *) {
      margin: 0;
    }
  }

  .custom-block div[class*='language-'] {
    &:not(.co-docs-demo *) {
      margin: 8px 0;
      border-radius: 8px;
    }
  }

  .custom-block div[class*='language-'] code {
    &:not(.co-docs-demo *) {
      font-weight: 400;
      background-color: transparent;
    }
  }

  .custom-block .vp-code-group .tabs {
    &:not(.co-docs-demo *) {
      margin: 0;
      border-radius: 8px 8px 0 0;
    }
  }

  /**
   * Code
   * -------------------------------------------------------------------------- */

  /* inline code */
  :not(pre, h1, h2, h3, h4, h5, h6) > code {
    &:not(.co-docs-demo *) {
      font-size: var(--vp-code-font-size);
      color: var(--vp-code-color);
    }
  }

  :not(pre) > code {
    &:not(.co-docs-demo *) {
      border-radius: 4px;
      padding: 3px 6px;
      background-color: var(--vp-code-bg);
      transition:
        color 0.25s,
        background-color 0.5s;
    }
  }

  a > code {
    &:not(.co-docs-demo *) {
      color: var(--vp-code-link-color);
    }
  }

  a:hover > code {
    &:not(.co-docs-demo *) {
      color: var(--vp-code-link-hover-color);
    }
  }

  h1 > code,
  h2 > code,
  h3 > code,
  h4 > code {
    &:not(.co-docs-demo *) {
      font-size: 0.9em;
    }
  }

  div[class*='language-'],
  .vp-block {
    &:not(.co-docs-demo *) {
      position: relative;
      margin: 16px -24px;
      background-color: var(--vp-code-block-bg);
      overflow-x: auto;
      transition: background-color 0.5s;
    }
  }

  @media (min-width: 640px) {
    div[class*='language-'],
    .vp-block {
      &:not(.co-docs-demo *) {
        border-radius: 8px;
        margin: 16px 0;
      }
    }
  }

  @media (max-width: 639px) {
    li div[class*='language-'] {
      &:not(.co-docs-demo *) {
        border-radius: 8px 0 0 8px;
      }
    }
  }

  div[class*='language-'] + div[class*='language-'],
  div[class$='-api'] + div[class*='language-'],
  div[class*='language-'] + div[class$='-api'] > div[class*='language-'] {
    &:not(.co-docs-demo *) {
      margin-top: -8px;
    }
  }

  [class*='language-'] pre,
  [class*='language-'] code {
    &:not(.co-docs-demo *) {
      -moz-tab-size: 4;
      -o-tab-size: 4;
      tab-size: 4;
    }
  }

  [class*='language-'] pre {
    &:not(.co-docs-demo *) {
      position: relative;
      z-index: 1;
      margin: 0;
      padding: 20px 0;
      background: transparent;
      overflow-x: auto;
      /*rtl:ignore*/
      text-align: left;
    }
  }

  [class*='language-'] code {
    &:not(.co-docs-demo *) {
      display: block;
      padding: 0 24px;
      width: fit-content;
      min-width: 100%;
      line-height: var(--vp-code-line-height);
      font-size: var(--vp-code-font-size);
      color: var(--vp-code-block-color);
      transition: color 0.5s;
    }
  }

  [class*='language-'] code .highlighted {
    &:not(.co-docs-demo *) {
      background-color: var(--vp-code-line-highlight-color);
      transition: background-color 0.5s;
      margin: 0 -24px;
      padding: 0 24px;
      width: calc(100% + 2 * 24px);
      display: inline-block;
    }
  }

  [class*='language-'] code .highlighted.error {
    &:not(.co-docs-demo *) {
      background-color: var(--vp-code-line-error-color);
    }
  }

  [class*='language-'] code .highlighted.warning {
    &:not(.co-docs-demo *) {
      background-color: var(--vp-code-line-warning-color);
    }
  }

  [class*='language-'] code .diff {
    &:not(.co-docs-demo *) {
      transition: background-color 0.5s;
      margin: 0 -24px;
      padding: 0 24px;
      width: calc(100% + 2 * 24px);
      display: inline-block;
    }
  }

  [class*='language-'] code .diff::before {
    &:not(.co-docs-demo *) {
      position: absolute;
      left: 10px;
    }
  }

  [class*='language-'] .has-focused-lines .line:not(.has-focus) {
    &:not(.co-docs-demo *) {
      filter: blur(0.095rem);
      opacity: 0.4;
      transition:
        filter 0.35s,
        opacity 0.35s;
    }
  }

  [class*='language-'] .has-focused-lines .line:not(.has-focus) {
    &:not(.co-docs-demo *) {
      opacity: 0.7;
      transition:
        filter 0.35s,
        opacity 0.35s;
    }
  }

  [class*='language-']:hover .has-focused-lines .line:not(.has-focus) {
    &:not(.co-docs-demo *) {
      filter: blur(0);
      opacity: 1;
    }
  }

  [class*='language-'] code .diff.remove {
    &:not(.co-docs-demo *) {
      background-color: var(--vp-code-line-diff-remove-color);
      opacity: 0.7;
    }
  }

  [class*='language-'] code .diff.remove::before {
    &:not(.co-docs-demo *) {
      content: '-';
      color: var(--vp-code-line-diff-remove-symbol-color);
    }
  }

  [class*='language-'] code .diff.add {
    &:not(.co-docs-demo *) {
      background-color: var(--vp-code-line-diff-add-color);
    }
  }

  [class*='language-'] code .diff.add::before {
    &:not(.co-docs-demo *) {
      content: '+';
      color: var(--vp-code-line-diff-add-symbol-color);
    }
  }

  div[class*='language-'].line-numbers-mode {
    &:not(.co-docs-demo *) {
      /*rtl:ignore*/
      padding-left: 32px;
    }
  }

  .line-numbers-wrapper {
    position: absolute;
    top: 0;
    bottom: 0;
    /*rtl:ignore*/
    left: 0;
    z-index: 3;
    /*rtl:ignore*/
    border-right: 1px solid var(--vp-code-block-divider-color);
    padding-top: 20px;
    width: 32px;
    text-align: center;
    font-family: var(--vp-font-family-mono);
    line-height: var(--vp-code-line-height);
    font-size: var(--vp-code-font-size);
    color: var(--vp-code-line-number-color);
    transition:
      border-color 0.5s,
      color 0.5s;
  }

  [class*='language-'] > button.copy {
    /*rtl:ignore*/
    direction: ltr;
    position: absolute;
    top: 12px;
    /*rtl:ignore*/
    right: 12px;
    z-index: 3;
    border: 1px solid var(--vp-code-copy-code-border-color);
    border-radius: 4px;
    width: 40px;
    height: 40px;
    background-color: var(--vp-code-copy-code-bg);
    opacity: 0;
    cursor: pointer;
    background-image: var(--vp-icon-copy);
    background-position: 50%;
    background-size: 20px;
    background-repeat: no-repeat;
    transition:
      border-color 0.25s,
      background-color 0.25s,
      opacity 0.25s;
  }

  [class*='language-']:hover > button.copy,
  [class*='language-'] > button.copy:focus {
    opacity: 1;
  }

  [class*='language-'] > button.copy:hover,
  [class*='language-'] > button.copy.copied {
    border-color: var(--vp-code-copy-code-hover-border-color);
    background-color: var(--vp-code-copy-code-hover-bg);
  }

  [class*='language-'] > button.copy.copied,
  [class*='language-'] > button.copy:hover.copied {
    /*rtl:ignore*/
    border-radius: 0 4px 4px 0;
    background-color: var(--vp-code-copy-code-hover-bg);
    background-image: var(--vp-icon-copied);
  }

  [class*='language-'] > button.copy.copied::before,
  [class*='language-'] > button.copy:hover.copied::before {
    position: relative;
    top: -1px;
    /*rtl:ignore*/
    transform: translateX(calc(-100% - 1px));
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid var(--vp-code-copy-code-hover-border-color);
    /*rtl:ignore*/
    border-right: 0;
    /*rtl:ignore*/
    border-radius: 4px 0 0 4px;
    padding: 0 10px;
    width: fit-content;
    height: 40px;
    text-align: center;
    font-size: 12px;
    font-weight: 500;
    color: var(--vp-code-copy-code-active-text);
    background-color: var(--vp-code-copy-code-hover-bg);
    white-space: nowrap;
    content: var(--vp-code-copy-copied-text-content);
  }

  [class*='language-'] > span.lang {
    position: absolute;
    top: 2px;
    /*rtl:ignore*/
    right: 8px;
    z-index: 2;
    font-size: 12px;
    font-weight: 500;
    user-select: none;
    color: var(--vp-code-lang-color);
    transition:
      color 0.4s,
      opacity 0.4s;
  }

  [class*='language-']:hover > button.copy + span.lang,
  [class*='language-'] > button.copy:focus + span.lang {
    opacity: 0;
  }

  /**
   * Component: Team
   * -------------------------------------------------------------------------- */

  .VPTeamMembers {
    &:not(.co-docs-demo *) {
      margin-top: 24px;
    }
  }

  .VPTeamMembers.small.count-1 .container {
    &:not(.co-docs-demo *) {
      margin: 0 !important;
      max-width: calc((100% - 24px) / 2) !important;
    }
  }

  .VPTeamMembers.small.count-2 .container,
  .VPTeamMembers.small.count-3 .container {
    &:not(.co-docs-demo *) {
      max-width: 100% !important;
    }
  }

  .VPTeamMembers.medium.count-1 .container {
    &:not(.co-docs-demo *) {
      margin: 0 !important;
      max-width: calc((100% - 24px) / 2) !important;
    }
  }

  /**
   * External links
   * -------------------------------------------------------------------------- */

  /* prettier-ignore */
  :is(.vp-external-link-icon, .vp-doc a[href*='://'], .vp-doc a[target='_blank']):not(:is(.no-icon, svg a, :has(img, svg)))::after {
    &:not(.co-docs-demo *) {
      display: inline-block;
      margin-top: -1px;
      margin-left: 4px;
      width: 11px;
      height: 11px;
      background: currentColor;
      color: var(--vp-c-text-3);
      flex-shrink: 0;
      --icon: url("data:image/svg+xml, %3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' %3E%3Cpath d='M0 0h24v24H0V0z' fill='none' /%3E%3Cpath d='M9 5v2h6.59L4 18.59 5.41 20 17 8.41V15h2V5H9z' /%3E%3C/svg%3E");
      -webkit-mask-image: var(--icon);
      mask-image: var(--icon);
      /*rtl:raw:transform: scaleX(-1);*/
    }
  }

  .vp-external-link-icon::after {
    &:not(.co-docs-demo *) {
      content: '';
    }
  }

  /* prettier-ignore */
  .external-link-icon-enabled :is(.vp-doc a[href*='://'], .vp-doc a[target='_blank']):not(:is(.no-icon, svg a, :has(img, svg)))::after {
    &:not(.co-docs-demo *) {
      content: '';
      color: currentColor;
    }
  }
}
